.layout {
  min-height: 100vh;

  .sider {
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 20px;
  }

  .header {
    display: flex;
    align-items: center;

    .header-content {
      color: white;
      font-size: 18px;
    }
  }

  .content {
    padding: 20px;

    .wrapper {
      background-color: #fff;
      padding: 24px;
      border-radius: 8px;
    }
  }

  .footer {
    text-align: center;
  }
}